<!doctype html>

<head>
    {% assets "raspored_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "raspored_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>
<title>Hello from Flask</title>

<style type="text/css">

</style>


<body>
<form action="/submit" method="post" style="display: flex; flex-direction: column;">
    <ul id="nav_section">
        {% for i in range(7) %}
            <li id="timeEntry-{{ i }}">
            <ul>
            {% if diw[i] %}
                    <h3>{{ diw[i] }}</h3>
            {% endif %}
            </ul>
            {% for j in range(raspored[i]|length) %}
            <ul id="timeEntry-{{ i }}_{{ j }}">
                    <input onclick="removeRow(this)" type="button" value="X" id="timeEntry-{{ i }}_{{ j }}" class="removeButton"><br>
                    Od:<input type="time" id="timeEntryfirst-{{ i }}_{{ j }}" name="timeEntryfirst-{{ i }}_{{ j }}"
                    value="{{ raspored[i][j][0] }}"><br>
                Do:<input type="time" id="timeEntrysecond-{{ i }}_{{ j }}" name="timeEntrysecond-{{ i }}_{{ j }}"
                    value="{{ raspored[i][j][1] }}">
                </ul>
            {% endfor %}    
            <ul id="button-{{ i }}">
            <input onclick="addRow(this)" type="button" value="Dodajte novi čas" id="addNew-{{ i }}">
            </ul>
            </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Promenite raspored" class="submit" style="font-size: 50px;">
</form>
</body>

</html>