#nav_section{
	margin: auto;
	padding: 0;
	width: 1500px;
}
#nav_section li {
	list-style: none;
	float: left;
	padding: 5px;
	background: #c7c7c7;
}
#nav_section ul{
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	width: 150px;
}
#nav_section ul li {
	clear: left;
}
#nav_section input {
	width: 120px;
}
.removeButton
{
	width: 20px !important;
	height: 20px !important;
}

